body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   background-color: rgb(13, 11, 11);
   color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tittle{
  background-color: rgb(113, 113, 113);
  text-align: center;
  font-size: xx-large;
  margin-top: 10px;
  border-radius: 15px;
}
